{% extends "::baseAdmin.html.twig" %}

{% block body %}

   	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>informations joueurs</h1>
              </div>
            </div>
          </div>
        </div>

         <div class="section section-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="calltoaction-wrapper">
							<h3>{{ user.prenom }} {{ user.nom }}</h3> 
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="section">
          <div class="container">
            <h2>Généralités</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                  <img src="{{ asset('img/info.png') }}" alt="Service 1">
                  <h3>Informations personnelles<br><br></h3>
                  <p><B>Nom :</B> {{ user.nom }} <br>
                    <B> Prenom : </B> {{ user.prenom }}<br>
                    <B> date de naissance : </B>{{ user.dateNaissance|date('d/m/Y') }}<br>
                    <B> sexe : </B>{{ user.sexe }}<br>
					<B> civiité : </B>{{ user.civilite }}<br>
					<B> nationalité : </B>{{ user.nationalite }}<br>
                    <B> Adresse : </B>{{ user.adresse }}<br>
					<B> Code Postal : </B>{{ user.codePostal }}<br>
                     <B>ville : </B>{{ user.ville }}<br>
                     <B>N° de téléphone : </B>{{ user.telephone }}<br>
                     <B>E-mail : </B>{{ user.email }}<br>
                  </p>
                </div>
              </div>
              

                   
 			 </div>
		</div>
		<div class="section">
          <div class="container">
            <h2>information sur la licence actuelle septembre {{licence.anneeLicence}}</h2>
              <p>

                     <p>Ce joueur a fait une demande pour  <a href="{{ path('joueur_licencesInfos', {'id':licence.idLicenceChoisie}) }}"> cette formule</a> le {{licence.dateInscriptionLicence|date("m/d/Y")}} .</p>
                        {% if  licence.demandeLicenceEnCours == 1  and licence.demandeDeLicence == 0 %}
                           
                                <p><B>Vous n'avez pas encore confirmé cette inscription.</B></p><br>
                            </p>
                              <h3>Documents</h3>
                              {% if  licence.validationDocuments == 0%}
                                <p> Les documents ne sont <B>PAS validés</b> .</p>
                              {% else %}
                                <p> Les documents sont <b> validés</b> .</p>
                              {% endif %}

                               <p>Voici les documents que le joueur doit fournir : </p>
                              <ul>
                                
                                {% if  licence.depotCertifValide == 0 %}
                                <li>Certificat médical daté de moins de 3ans</li>
                                <li>2ème certificat médial</li>
                                {% else %}
                                <li>Certificat médical daté de moins de 3 mois</li>
                                {% endif %}

                                {% if  majeur == 1%}
                                <li>une Autorisation Parentale</li>
                                {% endif %}

                                {% if  licenceReduction.reduction == 1%}
                                <li>justificatif pour la reduction licence</li>
                                {% endif %}

                                </ul>

                              {% if  fichiersPresents == null %}
                              <p><B> Vous n'avez fourni Aucun docuement via cette application </B></p>
                            {% else %}
                            
                             Voici la liste des documents que ce joueur a fourni pour cette année :</p>
                            {% for fichierPresents in fichiersPresents %}
                                  <p>
                                    <a target="_blank" href="{{ asset('uploads/fichiersJoueur/' ~ fichierPresents.path) }}">&nbsp;&nbsp;&nbsp;- {{fichierPresents.name}} </a>  <br>
                                  </p>
                                {% endfor %}
                            {% endif %}


                              <br>

                               <h3>Paiement</h3>
                              {% if  licence.validationPaiement == 0%}
                                <p> La réception du réglement n'est  <B>PAS validé</b> ({{ licenceAdmin.prix }}€)</p>
                              {% else %}
                              <p> La réception du réglement est <b> validé</b>  ({{ licenceAdmin.prix }}€)</p>
                              {% endif %}
                          
                            
                        {% endif %}

                          {% if  licence.demandeDeLicence and licence.ValidationLicenceFede != 1 %}
                            <p>Vous avez accepté cette inscription, merci de valider l'inscription sur poona.</p>
                              <h3>Documents</h3>
                              {% if  licence.validationDocuments == 0%}
                                <p> Les documents ne sont <B>PAS</b> validés.</p>
                              {% else %}
                                <p> Les documents sont validés.</p>
                              {% endif %}
                              <br>

                               <h3>Paiement</h3>
                              {% if  licence.validationPaiement == 0%}
                                <p> La réception du réglement n'est  <B>PAS</b> validé ({{ licenceAdmin.prix }}€)</p>
                              {% else %}
                              <p> La réception du réglement est validé ({{ licenceAdmin.prix }}€)</p>
                              {% endif %}
                          
                          {% endif %}
                          
                          {% if  licence.ValidationLicenceFede == 1 %}
                            <p><B>Personne inscrite au club</B></p>
                              <h3>Documents</h3>
                              {% if  licence.validationDocuments == 0%}
                                <p> Les documents ne sont <B>PAS</b> validés.</p>
                              {% else %}
                                <p> Les documents sont validés.</p>
                              {% endif %}
                              <br>

                               <h3>Paiement</h3>
                              {% if  licence.validationPaiement == 0%}
                                <p> La réception du réglement n'est  <B>PAS</b> validé ({{ licenceAdmin.prix }}€)</p>
                              {% else %}
                              <p> La réception du réglement est validé ({{ licenceAdmin.prix }}€)</p>
                              {% endif %}
                          
                         
                          {% endif %}
                  <br>

                  <h3>Modifier l'état d'inscription</h3>
                  {% if  licence.demandeDeLicence == 1%}
                    <p>Vous avez déjà effectué la demande de licence, cela ne sert à rien de modifier la demande d'enregistrement de la licence</p>
                  {% endif %}
                  <p>{{ form(form)}}</p>
                 <br>

                 
          

              
              </p>
 			 </div>
		</div>


     <div class="section">
          <div class="container">
            <h2>L'ensemble des documents fournis : </h2>
              <p>
                 A FAIRE

              </p>
 			 </div>
		</div>

    <div class="section">
          <div class="container">
            <h2>Quelles licences les autres années ?</h2>
              <p>
                 A FAIRE

              </p>
 			 </div>
		</div>







	
{% endblock %}
