{% extends "::baseAdmin.html.twig" %}

{% block body %}

	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Joueurs</h1>
              </div>
            </div>
          </div>
        </div>



	<div class="section">
	        <div class="container">
	        	<div class="row">
	        		
						

								<h2>Inscription à valider</h2>
								
										

							<h3> -> Documents</h3>
							<p>Voici {{nbrJoueursDocuement}} joueurs qui ont fait une demande et pour lequel vous n'avez pas valider les documents : </p>
							<ul>
								{% for joueurDocuement in joueursDocuement %}
								<li>	
									<a href="{{ path('admin_joueursInfo', {'id':joueurDocuement.id}) }}" >{{joueurDocuement.prenom}} {{joueurDocuement.nom}}</a>
								</li>
								{%endfor%}
							</ul>
							<br>

							<h3>-> Paiement</h3>
							<p>Voici {{nbrJoueursPaiement}} joueurs qui ont fait une demande et pour lequel vous n'avez pas valider le paiement : </p>
							<ul>
								{% for joueurPaiement in joueursPaiement %}
								<li>	
									<a href="{{ path('admin_joueursInfo', {'id':joueurPaiement.id}) }}" >{{joueurPaiement.prenom}} {{joueurPaiement.nom}}</a>
								</li>
								{%endfor%}
							</ul>
							<br>

							<h3>-> Dossier à valider</h3>
							<p>Vous avez indiqué que {{nbrJoueursAttente}} dossiers sont complet (documents et paiement), pour poursuivre l'inscription il faut cocher la case demande de licence</p>
							<ul>
								{% for joueurAttente in joueursAttente %}
								<li>	
									<a href="{{ path('admin_joueursInfo', {'id':joueurAttente.id}) }}" >{{joueurAttente.prenom}} {{joueurAttente.nom}}</a>
								</li>
								{%endfor%}
							</ul>
							<br> <br> 

							<h2>En attente de validation sur Poona</h2>
							<p> Voici {{nbrJoueursLicencie}} joueurs qui ont fait une demande de licence que vous avez accépté. Pour finaliser l'inscription, merci de vous connecter sur poona et de faire le paiement.</p>
							<ul>
								{% for joueurLicencie in joueursLicencie %}
								<li>	
									<a href="{{ path('admin_joueursInfo', {'id':joueurLicencie.id}) }}" >{{joueurLicencie.prenom}} {{joueurLicencie.nom}}</a>
								</li>
								{%endfor%}
							</ul>
							<br><br>

							<h2>Recherche de Joueurs</h2>
					<p> A FAIRE</p>
					

							
							
		        	
	        	</div>
	        </div>
	    </div>
	    <!-- End Services -->

		
		











	
{% endblock %}
