{% extends "::baseAdmin.html.twig" %}

{% block body %}

	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Licences</h1>
              </div>
            </div>
          </div>
        </div>

	
		<!-- Pricing Table -->
		<div class="section">
	    	<div class="container">
	    		<h2>Licences Non visibles</h2>
				<p>Vous pouvez rendre visible ces offres de licences en cliquand sur modifier</p><br>
				<p>Sans réduction</p>
	        	<div class="row">
	        		<!-- Pricing Plans Wrapper -->

						<div class="pricing-wrapper col-md-12">
							{% for licenceNonVisibles in licencesNonVisibles %}
								<div class="pricing-plan">
									<h2 class="pricing-plan-title">{{licenceNonVisibles.intitule}}</h2>
									<p class="pricing-plan-price">{{licenceNonVisibles.prix}}€<span></span></p>
										<ul class="pricing-plan-features">
											<li><strong>{{licenceNonVisibles.description1}}</strong> </li>
											<li><strong>{{licenceNonVisibles.description2}}</strong> </li>
											<li><strong>{{licenceNonVisibles.description3}}</strong> </li>
										</ul>
									<a href="{{ path('admin_modifierLicence', {'id':licenceNonVisibles.id}) }}" class="btn">Modifier</a>
								</div>
					    	{%endfor%}
						</div>

							

				
				</div>		



	    	</div>
		</div>
	    <!-- End Pricing Table -->














	
{% endblock %}