{% extends "::baseAdmin.html.twig" %}

{% block body %}

	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Licences</h1>
              </div>
            </div>
          </div>
        </div>

	<div class="section">
	        <div class="container">
			<h2> Modification de la licence :</h2>
			<p>Voici la licence que vous souhaitez modifier :</p><br>

			<div class="col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="#"><img src="{{ asset('img/photoJeune.jpg') }} " alt="Project Name"></a>
							</div>
						</div>
					</div>
					<!-- End Image Column -->
					<!-- Project Info Column -->
					<div class="portfolio-item-description col-sm-6">
						<h3><B>{{licence.intitule}}</B></h3>
						
						<h4>Voici les points caractéristiques de cette licence : </h4>
						<ul>
							<li>catégorie : {{licence.categorie}} </li>
										<li>prix: {{licence.prix}} €</li>
										<li>{{licence.description1}}</li>
										<li>{{licence.description2}}</li>
										<li>{{licence.description3}}</li>
						</ul>
						{{licence.descriptionComplete}}
						<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
					</div>
					<h3>Rentrer les nouvelles informations :</h3>
					<p>Ce n'est pas possible de changer le prix ou la catégorie. Vous pouvez toujours rendre l'offre non visible et en creer une nouvelle.</p>
	        <p>{{ form(form)}}</p>
			
	        </div>
			
	    </div>
	    

		

		
	












	
{% endblock %}