<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Inscription Oullins{% endblock %}</title>
        
       

        <link rel="stylesheet" href="/inscription/web/css/c3f5821.css" type="text/css" />
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>



  <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
            <div class="container">
                <div class="menuextras">
                    <div class="extras">
                        <ul>
                            <li><b>Bienvenue - {{app.user.prenom}} {{app.user.nom}} </b></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout')}}"><B>DECONNEXION</B> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav id="mainmenu" class="mainmenu">
                    <ul>
                        <li class="logo-wrapper"><a href="index.html"><img src="{{ asset('img/logo1.png') }} " alt="Multipurpose Twitter Bootstrap Template"></a></li>
                        <li class="active">
                            <a href="{{ path('joueur_homepage')}}">Accueil</a>
                        </li>
                        <li>
                           <a href="{{ path('joueur_monProfil')}}">Mon profil</a>
                        </li>
                        <li>
                           <a href="{{ path('joueur_licences')}}">Licences</a>
                        </li>
                        <li>
                           <a href="{{ path('joueur_documents')}}">Documents</a>
                        </li>
                        <li>
                           <a href="#">Contacts</a>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </div>

       






        {# on cré le block body pour les tlm.twig fils#}
        {% block body %}{% endblock %}
    

    
            
    

       <!-- Footer -->
        <div class="footer">
            <div class="container">
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copyright">&copy; 2017 Bigjames. All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>

    

        
        {% javascripts  '@OCNoLogBundle/Resources/public/js/*'%}

        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}


    </body>
</html>
