{% extends "::baseJoueur.html.twig" %}

{% block body %}


	    <div class="section section-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="calltoaction-wrapper">
							<h3>Bienvenue {{ app.user.prenom }} {{ app.user.nom }} </h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="section">
          <div class="container">
            <h2>Généralités</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                  <img src="{{ asset('img/info.png') }}" alt="Service 1">
                  <h3>Informations personnelles<br><br></h3>
                  <p><B>Nom :</B> {{ app.user.nom }} <br>
                    <B> Prenom : </B> {{ app.user.prenom }}<br>
                    <B> date de naissance : </B>{{ app.user.dateNaissance|date('d/m/Y') }}<br>
                    <B> sexe : </B>{{ app.user.sexe }}<br>
					<B> civiité : </B>{{ app.user.civilite }}<br>
					<B> nationalité : </B>{{ app.user.nationalite }}<br>
                    <B> Adresse : </B>{{ app.user.adresse }}<br>
					<B> Code Postal : </B>{{ app.user.codePostal }}<br>
                     <B>ville : </B>{{ app.user.ville }}<br>
                     <B>N° de téléphone : </B>{{ app.user.telephone }}<br>
                     <B>E-mail : </B>{{ app.user.email }}<br>
                  </p>
                  <a href="{{ path('joueur_modifDonneesPerso')}}" class="btn">modifier</a>
                </div>
              </div>
            </div>
          </div>
      </div>











	
{% endblock %}
