{% extends "::baseJoueur.html.twig" %}

{% block body %}

	<div class="section section-breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Informations sur la licence</h1>
              </div>
            </div>
          </div>
        </div>


		<div class="container">
				<div class="row">
					<h2>Licence : {{licence.intitule}}</h2>
					<!-- Image Column -->
					<div class="col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="#"><img src="{{ asset('img/photoJeune.jpg') }} " alt="Project Name"></a>
							</div>
						</div>
					</div>
					<!-- End Image Column -->
					<!-- Project Info Column -->
					<div class="portfolio-item-description col-sm-6">
						<h3><B>{{licence.intitule}}</B></h3>
						{{licence.descriptionComplete}}
						<h4>Voici les points caractéristiques de cette licence : </h4>
						<ul>
							<li>catégorie : {{licence.categorie}} </li>
										<li>prix: {{licence.prix}} €</li>
										<li>{{licence.description1}}</li>
										<li>{{licence.description2}}</li>
										<li>{{licence.description3}}</li>
						</ul>
							<a href="{{ path('joueur_inscriptionLicenceEtape1', {'id':licence.id}) }}" class="btn">Inscription</a></li>
						
					</div>
					<!-- End Project Info Column -->
			
				
				
				
				<!-- End Related Projects -->
			</div>

<br>
<p> A cet endroit, on peut rajouter des inforamtions propre au club .......</p>

<br><br><br>

		</div>


			</div>
		</div>

























	
{% endblock %}