{% extends "::baseJoueur.html.twig" %}

{% block body %}

	
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Licence</h1>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Pricing Table -->
		<div class="section">
	    	<div class="container">
				<div class="row">
					<h2>Licence : {{licence.intitule}}</h2>
					<p>Vous avez déjà fait une demande de licence pour cette année.</p><br><br>
					<!-- Image Column -->
					<div class="col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="#"><img src="{{ asset('img/photoJeune.jpg') }} " alt="Project Name"></a>
							</div>
						</div>
					</div>
					<!-- End Image Column -->
					<!-- Project Info Column -->
					<div class="portfolio-item-description col-sm-6">
						<h3><B>{{licence.intitule}}</B></h3>
						{{licence.descriptionComplete}}
						<h4>Voici les points caractéristiques de cette licence : </h4>
						<ul>
							<li>catégorie : {{licence.categorie}} </li>
										<li>prix: {{licence.prix}} €</li>
										<li>{{licence.description1}}</li>
										<li>{{licence.description2}}</li>
										<li>{{licence.description3}}</li>
						</ul>
			
						<br><br><br>
						
					</div>
					<!-- End Project Info Column -->
			
				<br><br><br>
				
				
				<!-- End Related Projects -->
			</div>
<p>On peut rajoutter des informations du club ici</p>

<br><br><br>




	
{% endblock %}