{% extends "::baseJoueur.html.twig" %}

{% block body %}

		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Inscription licence</h1>
					</div>
				</div>
			</div>
		</div>
    
	
		<!-- Pricing Table -->
		<div class="section">
	    	<div class="container">
	    		<h2>Inscription </h2>
				<p>Dans un premier temps, merci de choisir l'une des formules ci-dessous que vous souhaitez avoir pour la saison débutant en septembre 2017 (en cliquant sur inscription, vous avez plus d'informations concernant la formule).</p><br>
				<p>A savoir pour les réductions : c'est pour les étudiants, les Personnes vivant à Oullins, ... Pour voir quelles sont les conditions exactes, cliquez sur plus d'informations</p>
				<br><br>
				<h3>Licence sénior</h3>
	        	<div class="row">
	        		<!-- Pricing Plans Wrapper -->

						<div class="pricing-wrapper col-md-12">
							{% for licenceSenior in licencesSenior %}
								<div class="pricing-plan">
									<h2 class="pricing-plan-title">{{licenceSenior.intitule}}</h2>
									<p class="pricing-plan-price">{{licenceSenior.prix}}€<span></span></p>
										<ul class="pricing-plan-features">
											<li><strong>{{licenceSenior.description1}}</strong> </li>
											<li><strong>{{licenceSenior.description2}}</strong> </li>
											<li><strong>{{licenceSenior.description3}}</strong> </li>
										</ul>
									<a href="{{ path('joueur_licencesInfos', {'id':licenceSenior.id}) }}" class="btn">plus d'information</a>
								</div>
					    	{%endfor%}
						</div>

								<div class="pricing-wrapper col-md-12">
							{% for licenceSeniorReduc in licencesSeniorReduc %}
								<div class="pricing-plan">
									<div class="ribbon-wrapper">
										<div class="price-ribbon ribbon-green">Reduc.</div>
									</div>
									<h2 class="pricing-plan-title">{{licenceSeniorReduc.intitule}}</h2>
									<p class="pricing-plan-price">{{licenceSeniorReduc.prix}}€<span></span></p>
										<ul class="pricing-plan-features">
											<li><strong>{{licenceSeniorReduc.description1}}</strong> </li>
											<li><strong>{{licenceSeniorReduc.description2}}</strong> </li>
											<li><strong>{{licenceSeniorReduc.description3}}</strong> </li>
										</ul>
									<a href="{{ path('joueur_licencesInfos', {'id':licenceSeniorReduc.id}) }}" class="btn">plus d'information</a>
								</div>
					    	{%endfor%}
						</div>
				</div>		
				<br><br>
				<h3>Licences Jeunes </h3>

	        	<div class="row">
	        		<!-- Pricing Plans Wrapper -->

						<div class="pricing-wrapper col-md-12">
							{% for licenceJeune in licencesJeune %}
								<div class="pricing-plan">
									<h2 class="pricing-plan-title">{{licenceJeune.intitule}}</h2>
									<p class="pricing-plan-price">{{licenceJeune.prix}}€<span></span></p>
										<ul class="pricing-plan-features">
											<li><strong>{{licenceJeune.description1}}</strong> </li>
											<li><strong>{{licenceJeune.description2}}</strong> </li>
											<li><strong>{{licenceJeune.description3}}</strong> </li>
										</ul>
									<a href="{{ path('joueur_licencesInfos', {'id':licenceJeune.id}) }}" class="btn">plus d'information</a>
								</div>
					    	{%endfor%}
						</div>

					
	
								<div class="pricing-wrapper col-md-12">
							{% for licenceJeuneReduc in licencesJeuneReduc %}
								<div class="pricing-plan">
									<div class="ribbon-wrapper">
										<div class="price-ribbon ribbon-green">Reduc.</div>
									</div>
									<h2 class="pricing-plan-title">{{licenceJeuneReduc.intitule}}</h2>
									<p class="pricing-plan-price">{{licenceJeuneReduc.prix}}€<span></span></p>
										<ul class="pricing-plan-features">
											<li><strong>{{licenceJeuneReduc.description1}}</strong> </li>
											<li><strong>{{licenceJeuneReduc.description2}}</strong> </li>
											<li><strong>{{licenceJeuneReduc.description3}}</strong> </li>
										</ul>
									<a href="{{ path('joueur_licencesInfos', {'id':licenceJeuneReduc.id}) }}" class="btn">plus d'information</a>
								</div>
					    	{%endfor%}
						</div>

				
				</div>		



	    	</div>
		</div>
	    <!-- End Pricing Table -->














	
{% endblock %}