{% extends "::baseJoueur.html.twig" %}

{% block body %}


		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Mon profil</h1>
					</div>
				</div>
			</div>
		</div>
    

	    
	
		<div class="section">
          <div class="container">
 
            <h2>Généralités</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                  <img src="{{ asset('img/info.png') }}" alt="Service 1">
                  <h3>Informations personnelles<br><br></h3>
                  <p><B>Nom :</B> {{ app.user.nom }} <br>
                    <B> Prenom : </B> {{ app.user.prenom }}<br>
                    <B> date de naissance : </B>{{ app.user.dateNaissance|date('d/m/Y') }}<br>
                    <B> sexe : </B>{{ app.user.sexe }}<br>
                    <B> civiité : </B>{{ app.user.civilite }}<br>
                    <B> nationalité : </B>{{ app.user.nationalite }}<br>
                              <B> Adresse : </B>{{ app.user.adresse }}<br>
                    <B> Code Postal : </B>{{ app.user.codePostal }}<br>
                     <B>ville : </B>{{ app.user.ville }}<br>
                     <B>N° de téléphone : </B>{{ app.user.telephone }}<br>
                     <B>E-mail : </B>{{ app.user.email }}<br><br>
                    <B>Personne à contacter en cas d'urgence: </B>{{ app.user.personneAContacterUrgence }} ({{ app.user.numeroPersonneUrgence }} ) <br>
   
                  </p>
                  <a href="{{ path('joueur_modifDonneesPerso')}}" class="btn">modifier</a>
                </div>
               
              </div>
              <br>
		        			 <p>

                   <h3>Votre inscription au Badminton Club d'Oullins :</h3>
                    {% if  licence %}
                    
                        Pour la saison débutant septembre  {{licence.anneeLicence}}
                        {% if  licence.demandeLicenceEnCours and licence.ValidationLicenceFede != 1%}
                            <p>Votre demande de licence est en cours de traitement pour <a href="{{ path('joueur_licencesInfos', {'id':licence.idLicenceChoisie}) }}"> cette formule</a> depuis le {{licence.dateInscriptionLicence|date("m/d/Y")}} .</p>
                              <p><B>Documents</B></p>
                              {% if  licence.validationDocuments == 0%}
                                <p> Nous n'avons pas encore valider l'ensemble de vos documents pour votre inscription. Avez vous fourni tous les documents nécéssaires ? vérifier <a href="{{ path('joueur_documents') }}"> ici</a>.
                              {% else %}
                              <p>Nous avons bien reçu l'ensemble des documents nécessaires à votre inscription</p>
                              {% endif %}

                               <p><B>Paiement</B></p>
                              {% if  licence.validationPaiement == 0%}
                                <p>Nous n'avons pas reçu de paiement de votre part. Merci de nous faire parvenir un chèque du montant correspondant à votre licence ({{ licenceAdmin.prix }}€) à l'ordre du badminton club d'oullins.</p>
                              {% else %}
                              <p>Nous avons bien reçu votre réglement de {{ licenceAdmin.prix }}€</p>
                              {% endif %}
                          
                            <B>{{licence.commentaireLicence}}</B>
                        {% endif %}

                          {% if  licence.demandeDeLicence and licence.ValidationLicenceFede != 1 %}
                            <p>Nous avons fait la demande de création de licence à la FFBAD.</p>
                          {% endif %}
                          
                          {% if  licence.ValidationLicenceFede == 1 %}
                            <p>Vous êtes licencié au badminton clud d'oullins et vous avez soucrit à <a href="{{ path('joueur_licencesInfos', {'id':licence.idLicenceChoisie}) }}"> cette formule</a></p>
                          {% endif %}
                      


                    {% else %}
                      <p><B>Vous n'avez pas encore fait de demande d'inscription au club pour cette année.</B></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ->  <a href="{{ path('joueur_licences')}}"> inscription</a>
                    {% endif %}

                  </p>             
            </div>
          </div>
      </div>


<div class="section">
          <div class="container">
            <h2>Toutes vos inscriptions au BACO</h2>
            <p>bla bla blaaaa.....</p>

          </div>
</div>








	
{% endblock %}
